.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(170, 166, 166, 0.808);
  -webkit-box-shadow: -2px 21px 21px 2px rgba(0, 0, 0, 0.32);
  box-shadow: -2px 21px 21px 2px rgba(0, 0, 0, 0.05);
  background-color: white;
}
.header__dark {
  background-image: linear-gradient(
    270deg,
    hsl(0deg 0% 100%) 0%,
    hsl(60deg 0% 78%) 31%,
    hsl(60deg 0% 58%) 39%,
    hsl(60deg 0% 38%) 44%,
    hsl(60deg 0% 21%) 48%,
    hsl(60deg 6% 3%) 51%,
    hsl(60deg 0% 21%) 55%,
    hsl(60deg 0% 38%) 60%,
    hsl(60deg 0% 58%) 68%,
    hsl(60deg 0% 78%) 80%,
    hsl(0deg 0% 100%) 100%
  );
}
.header__left img {
  object-fit: contain;
  height: 60px;
  padding: 5px;
}
.header__right > button {
  padding: 10px;
  margin: 10px;
  color: black;
}
.header__right--mobile {
  display: none;
}
@media (max-width: 375px) {
  .header__right--mobile {
    display: inline;
    padding-right: 10px;
  }
  .header__right > button {
    display: none;
  }
  .header__left img {
    height: 40px;
  }
}
